<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
  <protocolMapping>
    <add scheme="https" binding="basicHttpBinding" bindingConfiguration="https" />
  </protocolMapping>
  <bindings>
    <basicHttpBinding>
      <binding name="https">
        <security mode="Transport">
          <transport clientCredentialType="None"/>
        </security>
      </binding>
    </basicHttpBinding>
  </bindings>
  <behaviors>
    <serviceBehaviors>
      <behavior>
        <serviceMetadata httpsGetEnabled="True"/>
        <serviceDebug includeExceptionDetailInFaults="False" />
      </behavior>
    </serviceBehaviors>
  </behaviors>
  </system.serviceModel>

  <system.web>
    <customErrors mode="Off"/>
  </system.web>


  <connectionStrings>
    <add name="MAS200"
     connectionString="Persist Security Info=False;
     Data Source=COMPUTER\DATABASE_NAME;
     Initial Catalog=MAS_SYSTEM;
     User Id=sql_server_user;
     Password=sql_server_password;
     Trusted_Connection=False;
     Application Name=Sage eBusiness Web Services Extended;"/>
  </connectionStrings>
  
</configuration>
